<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div>
        <div class=" border-2 border-orange-500 px-2 py-2  mt-4 mx-2" style="height:auto">
            <h1 class="text-3xl font-bold py-7">
                Todo Manager
            </h1>
            <h1 class="text-xl py-7 font-bold">
                Login
            </h1>
            <form action="" method="post" class="text-lg w-full">
                {% csrf_token %}
                <!-- Username -->
                <div class="w-full my-2">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    <input id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" required
                        type="{{ form.title.widget_type }}"
                        class="focus:outline-none focus:border-rose-200 focus:ring-rose-200 focus:ring-1 bg-slate-100 rounded-lg p-3 w-full">
                    <span class="text-rose-500">{{ form.title.errors }}</span>
                </div>
                <!-- Password -->
                <div class="w-full my-2">
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    <input type="{{ form.password.widget_type }}" name="{{ form.password.name }}" required
                        id="{{ form.password.id_for_label }}"
                        class="focus:outline-none focus:border-rose-200 focus:ring-rose-200 focus:ring-1 bg-slate-100 rounded-lg p-3 w-full">
                    <span class="text-rose-500">{{ form.passwords.errors }}</span>
                </div>

                {% if form.non_field_errors %}
                <ul class="py-2 text-justify">
                    {% for error in form.non_field_errors %}
                    <li class="text-red-500">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- Submit -->
                <br>
                <button type="submit"
                    class="text-center w-full bg-red-500 text-white rounded-lg px-4 py-4 mt-3">Login</button>

            </form>
        </div>
    </div>

</body>

</html>